<% if (category.title==="Bio" && category.text) { %>


  <% for (let i=0; i < category.text.length; i++) { %>
       

        <div class="p-box">
          <div class="flex-container">
              <p class="bio_paragraph">

             <% let paragraph = category.text[i] %> 

             <% for (let span in paragraph) { %> 
             <% if (paragraph[span].href) { %>
              <a class="underline" href="<%= paragraph[span].href %> ">
                <%= paragraph[span].anchor %> 
              </a>

              <% } else { %>
               <%= paragraph[span] %> 
             <% } %>
          <% } %> 
            </p>
            </div>
        </div>


      


          <% } %>

            <% } %>