<% if (category.title==="Bio" && category.text) { %>

  <% for (let i=0; i < category.text.length; i++) { %>

    <% if (category.text[i].href) { %>

      <div class="p-box p-box__link">
        <a href="<%=category.text[i].href%>">
          
          <p>
              <div class="flex-container">
              <span class="no-text-decoration">
              <%=category.text[i].p%>
            </span>
            <span class="link-arrow">
              &nbsp&nbsp&nbsp→
            </span>
          </div>
        </p>
        </a>
      </div>


      <% } else { %>

        <div class="p-box">
          <p>
            <div class="flex-container">

              <%=category.text[i].p%>
            </div>
          </p>
        </div>


        <% } %>


          <% } %>

            <% } %>