<% if (category.title === "Contact") { %>
<div class="contact-box">
  <button id="contact-button" class="contact-button">
    <h2 class="contact-text"><span id="email">
        <%= category.address %>
      </span>
    </h2>
    <% if (category.lang ==="en") { %>
    <span id='tooltip-text__en' class="tooltip-text"> Click to copy </span>
    <% } else if (category.lang==="fr") {%>

    <span id='tooltip-text__fr' class="tooltip-text"> Cliquez pour copier </span>
    <% } %>
  </button>
</div>

<% } %>