<form id="langForm" method="GET">
  <button type="button submit" id="langButton">

  </button>
</form>

<form id="backForm" method="GET">
  <button type="button submit" id="backButton">
    Back
  </button>
</form>

</body>
