
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sebastian Kann</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/static/helpers/helpers.js"></script>
  </head>


  <body id='body' onLoad="handleFunction()">
      <div id="body-box">
        <div class="title-box">
            <form id="" method="GET">
              <button class="home-button"type="button submit">
                <h1 id="title">Sebastian Kann</h1>
              </button>
            </form>
        </div>
  











