<%- include ('partials/_head.ejs') %>

<div class="category-body">
  <div class="flex-box">
  
  
    <div class="menu-box">
        <h2 class="menu-text">
          <%= category.title %>
        </h2>
    </div>
  
  </div>

</div>


<%- include ('partials/_foot.ejs') %>