<%- include ('partials/_head.ejs') %>

<div class="category-body">

  <!-- ticker tape -->
  <div class="ticker-wrap">
    <div class="ticker">
      <% for (let i = 0; i < 20; i++) { %>

        <div class="ticker__item"> <%=category.ticker%> </div>

      <% } %>
    </div>
  </div>

  <!-- content box -->
  <div class="content-box">

  <!-- bio page -->
    <% if (category.title === "Bio") { %>
      
        <% for (let i=0; i < category.text.length; i++) { %>
          
          <div class="p-box">
            <p><%=category.text[i].p%></p>
          </div> 
      
        <% } %>
      
    <% } %>

  <!--end content box  -->
  </div>
<!-- end category-body-->
</div>

<!-- language button  -->
<div id="button-box"class="button-box button-box__cat">
  <div >
    <form id="langForm" method="GET">
      <button class="language-button language-button__cat" type="button submit" >
        <p id="langButton"></p>
      </button>
    </form>
  </div>
</div>


<%- include ('partials/_foot.ejs') %>