<%- include ('partials/_head.ejs') %>



<div class="flex-box">


  <div class="menu-box">
  <!-- <form method="GET" >
    <button type="button submit" id="backButton"> -->
      <h2 class="menu-text">
        <%= category.title %>
      </h2>
    <!-- </button>
  </form> -->
</div>

</div>

<%- include ('partials/_foot.ejs') %>