<%- include ('partials/_head.ejs') %>

<h1>
  <%= perfData.title %>
</h1>

<!-- language button  -->
<div id="button-box" class="button-box button-box__cat">
  <div class="button-box__flex flex">
    <div id="button-box__home" class="buttons-left">

    </div>

    <div class="buttons-right">
      <form id="homeButton" method="GET">
        <button class="menu-button menu-button__home menu-button__cat" type="button submit">
          <p id="">🏠</p>
        </button>
      </form>
      <form id="langForm" method="GET">
        <button class="menu-button menu-button__lang menu-button__cat" type="button submit">
          <p id="langButton"></p>
        </button>
      </form>
    </div>
  </div>


<%- include ('partials/_foot.ejs') %>
