<%- include ('partials/_head.ejs') %>

<h1>
  <%= perfData.title %>
</h1>

<!-- language button  -->
<div id="button-box"class="button-box button-box__cat">
  <div >
    <form id="langForm" method="GET">
      <button class="language-button language-button__cat" type="button submit" >
        <p id="langButton"></p>
      </button>
    </form>
  </div>
</div>


<%- include ('partials/_foot.ejs') %>
