<!-- //templateVars==menuItems -->


<%- include ('partials/_head.ejs') %>  


<% for (let item in menuItems) { %>
  
  <p><%= menuItems[item].title %></p>
  
  <% } %>
  
  <%- include ('partials/_foot.ejs') %>  










