button {
  border: none;
  background-color: $beige;
  &.menu-button {
    width: 100%;
    text-align: left;
    border-radius: $box-radius;
  }
  &.home-button {
    background: transparent;
  }
}

div.button-box {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  &__cat {
    top: 0px;
    right: 0px;
    height: 10vh;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .buttons-right,
  .buttons-left {
    display: flex;
  }

  .menu-button,
  .back-button {
    background-color: $beige;
    margin-bottom: 3 * $p;
    margin-left: 0.05 * $body-width;
    margin-top: 1 * $p;
    width: 2rem;
    height: 2rem;
    transform: skewY(2deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    &__cat {
      margin-top: 2 * $p;
    }
    &__lang {
      margin-right: 0.05 * $body-width;
    }
    &__home {
      margin-right: 0;
    }
    p {
      font-size: $p;
      margin: 0;

      // padding: .5*$p;
    }
  }
}
