.category-body,
.content-box {
  @include flexColumn;
  overflow: auto;
}

.content-box {
  transform: skewY(-2deg);
  overflow: auto;
  margin-top: 20vh;
  margin-bottom: 3rem;
  width: 100%;
}

div.p-box,
div.show-box,
div.year-box {
  width: 90%;
  max-width: $box-max-width;
  margin-bottom: 1.5rem;
  p {
    margin: 0;
  }
}

div.p-box {
  @include greyTheme($opacity: 1);
  .flex-container {
    display: flex;
    align-items: center;
  }
}

div.show-box {
  @include greyTheme;
}

div.year-box {
  @include greyTheme($color: none);
}

div.show-box,
div.year-box {
  a:last-of-type {
    img {
      margin-bottom: -5px;
    }
  }
}

.works-img,
.collab-img {
  max-width: 100%;
  border-radius: 0 0 $box-radius $box-radius;
}

.works-img {
  margin-bottom: -5px;
}

.collab-img {
  margin-bottom: $info-size;
}

.credits {
  font-size: $info-size;
  color: $black;
  &-flex {
    display: flex;
    align-items: center;
  }
}

.work-flex {
  align-items: center;
}

.link-arrow {
  font-size: $arrow-size;
}

.practice-box {
  background-color: #cccccc;
  border-radius: 5px;
}

.practice-title {
  padding-top: $p;
}

.year-title {
  font-size: 2rem;
}
