.category-body,
.content-box {
  @include flexColumn;
  overflow: auto;
}

.content-box {
  overflow: auto;
  margin-top: 20vh;
  margin-bottom: 3rem;
  width: 100%;
  position: relative;
}

div.p-box,
div.show-box,
div.year-box,
div.link-type-box {
  transform: skewY(-2deg);
  width: 90%;
  max-width: $box-max-width;
  margin-bottom: 1.5rem;
  &:nth-of-type(1) {
    margin-top: $info-size;
  }
  p {
    margin: 0;
  }
}



div.p-box {
  @include greyTheme($opacity: 1);
  .flex-container {
    display: flex;
    align-items: center;
  }
}

div.show-box {
  @include greyTheme;
}

.contact-box {
  position: relative;
  margin-top: 4rem;
}

div.year-box,
.link-type-box {
  @include greyTheme($color: none);
}

div.show-box,
div.year-box {
  a:last-of-type {
    img {
      margin-bottom: -5px;
    }
  }
}

.works-img,
.collab-img {
  max-width: 100%;
  border-radius: 0 0 $box-radius $box-radius;
}

.works-img {
  margin-bottom: -5px;
}

.collab-img {
  margin-bottom: $info-size;
  margin-top: -$info-size;
}



.work-flex {
  align-items: center;
  justify-content: space-between;
}

.link-arrow {
  font-size: $arrow-size;
}

.agenda-box {
  align-items: center;
  justify-content: space-between;
  margin-bottom: $box-margin-bottom;
}

.info-box {
  background-color: $beige;
  border-radius: 5px;
  flex-grow: 2;
}
.practice-box,
.links-box {
  background-color: #cccccc;
  border-radius: 5px;
}

.practice-title {
  padding-top: $p;
  
}





.dates {
  transform: rotate($dates-angle);
}

.date-box {
  margin-right: $date-box-margin;
  min-width: 3rem;
}

.contact-text {
  font-weight: normal;
  margin: 0;
}

.contact-box:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text {
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

@media screen and (min-width: 1024px) {
  div.p-box,
div.show-box,
div.year-box,
div.link-type-box
{
max-width: 600px;
}
}
