div.title-box {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 125px;
  right: -80px;
  // z-index: 2;
  h1 {
    font-weight: normal;
    font-size: 2.5rem;
  }
}

div.flex-box {
  @include flexColumn;
  margin-top: 5vh;
  height: 75vh;
  justify-content: space-around;
}

div.menu-box {
  background-color: $beige;
  opacity: 0.8;
  width: $title-box-width;
  padding: 0;
  margin-left: 0px;
  transform: skewY(2deg);
  border-radius: $box-radius;
  z-index: 3;

  h2 {
    margin: 0;
    font-weight: normal;
  }
}
