div.title-box {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: end;
  // z-index: 2;
  h1 {
    font-weight: normal;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
}

div.flex-box {
  @include flexColumn;
  margin-top: 5vh;
  height: 75vh;
  justify-content: space-around;
}

div.menu-box {
  background-color: $beige;
  opacity: 0.8;
  width: $title-box-width;
  padding: 0;
  margin-left: 0px;
  transform: skewY(2deg);
  border-radius: $box-radius;
  z-index: 3;

  h2 {
    margin: 0;
    font-weight: normal;
  }
}

@media screen and (min-width: 540px) {
  div.flex-box {
    position: relative;
  }
  div.menu-box {
    position: absolute;
    width: auto;
  }
  h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  h2 {
    font-size: 4rem;
  }
}
