@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
h1, h2, p {
  font-family: serif;
}

h2 {
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

#body-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  transition: 2s;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

.no-text-decoration {
  color: black;
  text-decoration: none;
}

.flex {
  display: flex;
}

div.title-box {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 33vh;
  right: -80px;
}
div.title-box h1 {
  font-weight: normal;
  font-size: 2.5rem;
}

div.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  height: 75vh;
  justify-content: space-around;
}

div.menu-box {
  background-color: #cccccc;
  opacity: 0.8;
  width: 90%;
  padding: 0;
  margin-left: 0px;
  transform: skewY(2deg);
  border-radius: 5px;
  z-index: 3;
}
div.menu-box h2 {
  margin: 0;
  font-weight: normal;
}

@media screen and (min-width: 540px) {
  div.flex-box {
    position: relative;
  }

  div.menu-box {
    position: absolute;
    width: auto;
  }

  h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 4rem;
  }
}
button {
  border: none;
  background-color: #cccccc;
}
button.menu-button {
  width: 100%;
  text-align: left;
  border-radius: 5px;
}
button.home-button {
  background: transparent;
}

div.button-box {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
}
div.button-box__cat {
  top: 0px;
  right: 0px;
  height: 10vh;
}
div.button-box__flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
div.button-box .buttons-right,
div.button-box .buttons-left {
  display: flex;
}
div.button-box .menu-button,
div.button-box .back-button {
  background-color: #cccccc;
  margin-bottom: 4.5rem;
  margin-left: 5vw;
  margin-top: 1.5rem;
  width: 2rem;
  height: 2rem;
  transform: skewY(2deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
div.button-box .menu-button__cat,
div.button-box .back-button__cat {
  margin-top: 3rem;
}
div.button-box .menu-button__lang,
div.button-box .back-button__lang {
  margin-right: 5vw;
}
div.button-box .menu-button__home,
div.button-box .back-button__home {
  margin-right: 0;
}
div.button-box .menu-button p,
div.button-box .back-button p {
  font-size: 1.5rem;
  margin: 0;
}

.category-body,
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.content-box {
  transform: skewY(-2deg);
  overflow: auto;
  margin-top: 20vh;
  margin-bottom: 3rem;
  width: 100%;
}

div.p-box,
div.show-box,
div.year-box {
  width: 90%;
  max-width: 500px;
  margin-bottom: 1.5rem;
}
div.p-box p,
div.show-box p,
div.year-box p {
  margin: 0;
}

div.p-box {
  border-radius: 5px;
  background-color: #cccccc;
  opacity: 1;
}
div.p-box .flex-container {
  display: flex;
  align-items: center;
}

div.show-box {
  border-radius: 5px;
  background-color: #cccccc;
  opacity: 0.8;
}

div.year-box {
  border-radius: 5px;
  background-color: none;
  opacity: 0.8;
}

div.show-box a:last-of-type img,
div.year-box a:last-of-type img {
  margin-bottom: -5px;
}

.works-img,
.collab-img {
  max-width: 100%;
  border-radius: 0 0 5px 5px;
}

.works-img {
  margin-bottom: -5px;
}

.collab-img {
  margin-bottom: 0.75rem;
}

.credits {
  font-size: 0.75rem;
}
.credits-flex {
  display: flex;
  align-items: center;
}
.credits-works {
  color: black;
}

.work-flex {
  align-items: center;
}

.link-arrow {
  font-size: 1.5rem;
}

.practice-box {
  background-color: #cccccc;
  border-radius: 5px;
}

.practice-title {
  padding-top: 1.5rem;
}

.year-title {
  font-size: 2rem;
}

.ticker-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: #cccccc;
  padding-left: 200%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 3rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
