a {
  text-decoration: none;
  .underline{
    text-decoration: underline;
  }
}

p.no-text-decoration {
  color: $black;
}

.subheading,  .menu-text {
  font-size: $p;
}

.bold {
  font-weight: bold;
}

// collabs 

.year-title {
  font-size: $heading-mobile;
}

.credits {
  font-size: $info-size;
  font-family: $credits-font;
  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $info-size;
  }
  &-works {
    color: $black;
  }
}

@media screen and (min-width: 768px) {
 .bio_paragraph{
   font-size: $p;
 }
}