@use "sass:math";

//colors
$beige: #cccccc;
$black: black;

//spacing
$body-width: 100vw;
$body-height: 100vh;
$title-box-width: 90%;
$box-radius: 5px;
$banner-width: 100%;
$box-max-width: 500px;
$dates-angle: -45deg;
$date-box-margin: 1rem;
$box-margin-bottom: 1.5rem;
$box-margin-bottom-large: 4.5rem;
$nav-button-margin: 16px;

//font - mobile
$p: 2rem;
$info-size: 0.75rem;
$arrow-size: 1.5rem;
$heading-mobile: 5rem;
$credits-font : sans-serif;

//animation
$duration: 60s;
