@use "sass:math";

//colors
$beige: #cccccc;
$black: black;

//spacing
$body-width: 100vw;
$body-height: 100vh;
$title-box-width: 90%;
$box-radius: 5px;
$banner-width: 100%;

//font - mobile
$p: 1.5rem;
$info-size: 0.75rem;
$arrow-size: 2rem;

//animation
$duration: 60s;
